/* 
-------------------------------------------------------------------------------
layout.css style rules - General layout rules 
-------------------------------------------------------------------------------
*/
html,
html .mapboxgl-map {
	font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.1em;
	margin: 0;
	padding: 0;
}

:not(li):focus {
	box-shadow: 0 0 3px 2px rgba(47, 151, 255, 0.65) !important;
	-moz-box-shadow: 0 0 3px 2px rgba(47, 151, 255, 0.65) !important;
	-webkit-box-shadow: 0 0 3px 2px rgba(47, 151, 255, 0.65) !important;
	outline: none !important;
}

label[for],
input[type="radio"] {
	cursor: pointer;
}

button {
	cursor: pointer;
}

input[type="radio"] {
  margin-top: -3px;
  vertical-align: middle;
}

input, 
datalist {
	font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.hidden {
	display: none;
}

.inv-container {
    text-align: center;
}

/* Map style rules */
.map {
    position: relative;
    width: 100%;
    height: 650px;
}

.mapboxgl-canvas {
	cursor: pointer;
}

/* Instructions div */
.instructions {
	margin: 10px 0px;
}

.instructions > img {
	height: 20px;
}

/* Hyperlinks */
.download .link {
    color: #007396;
    text-decoration: none;
}

.link-symbols-container {
	text-align: right;
}

.link-symbols {
    margin-top: 8px;
    font-size: 0.9em;
}

/* How To Use (HTU) Modal Popup Window */
#htu .menu {
    margin-left: 10px;
}

#htu img {
    padding: 3px;
}

#htu img,
#htu .mapboxgl-ctrl-icon {
	width: 30px;
	height: 30px;
}

#htu .menu .htu-row {
	margin-top: 4px;
}

#htu .menu .htu-row > * {
	display: inline-block;
    vertical-align: middle;
}

/* Tooltip */
.tooltip {
	position: absolute;
    padding: 5px;
    border-radius: 4px;
    pointer-events: none;
	opacity: 0;
	z-index: 10000;
    background: white;
    max-width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
}

.tooltip .tooltip-title {
	font-weight: bold;
}

.tooltip .tooltip-line > * {
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 3px;
}

.tooltip .legend,
.tooltip .legend rect {
	width: 12px;
	height: 2px;
}
