
/* 
-------------------------------------------------------------------------------
table.css style rules 
-------------------------------------------------------------------------------
*/
.table-widget table {
	background: white;
    border-collapse: collapse;
}

.table-widget summary {
	cursor: initial;
    margin-bottom: 8px;
}

.table-widget summary:hover {
	background: initial;
}

.table-widget table tr {
	border-bottom: solid thin silver;
}

.table-widget table tr:nth-child(even) {
    background: #f5f4f4;
}

.table-widget table thead {
	background: #26374a;
    color: white;
}

.table-widget table tbody tr td:not(:last-child) {
	border-right: solid thin silver;
}

.table-widget table thead tr th:not(:last-child) {
	border-right: solid thin white;
}

.table-widget table td,
.table-widget table th {
    padding: 5px 4px;
	font-weight: normal;
}

.table-widget table .numeric {
	text-align: right;
}

.table-widget table th {
	text-align: left;
}

.table-widget button {
	width: 32px;
	height: 32px;
	background: #26374a;
	border: none;
    border-radius: 4px;
}

.table-widget button img {
    width: 20px;
    height: 20px;
}

.table-widget button:disabled {
	background: SlateGrey;
}

.table-widget button img,
.table-widget .navigation > * {
	vertical-align: middle;
}

.table-widget .navigation  {
	margin-top: 10px;
    text-align: right;
}

.table-widget .current {
  color: black;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  margin: 5px;
  margin-right: 10px;
}

.table-widget .table-message {
  cursor: auto;
  text-decoration: none;
  color: rgb(51,51,51);
}
